<div class="back-fixed-area">
    <div class="back-header clear-float" >
        <img src="/image/logo.png"/>
        <h1>加信综合管理平台</h1>
        <ul class="back-multiFunc">
            <li>开放平台</li>
            <li>人脉管理</li>
            <li>数据管理</li>
            <li>常用工具</li>
        </ul>
        <dl  class="back-sysInfo">
            <dd>加信动态</dd>
            <dt>系统设置</dt>
            <dd>使用帮助</dd>
        </dl>
    </div>
    <div class="back-header-nav-info">
        <h1 class="back-header-leftSide">工具与操作</h1>
        <span>项目公告:</span>
        <b>操作注意事项：操作时请认真核查操作的对象，防止误操作.</b>
    </div>
    <div class="back-header-nav" ng-controller="navCtrl">
        <dl class="back-header-leftSide">
            <dd ng-click="clicked=0" ng-class="changeNav(0)"><a href="#/users">用户管理</a></dd>
            <dd  ng-click="clicked=1" ng-class="changeNav(1)"><a href="#/groups">群组列表</a></dd>
            <dd  ng-click="clicked=2" ng-class="changeNav(2)"><a href="#/messages">推送信息列表</a></dd>
            <dd  ng-click="clicked=3" ng-class="changeNav(3)"><a href="#/activity">活动信息列表</a></dd>
        </dl>
    </div>
</div>
