<div class="user-title">
    <h1>用户信息</h1>
</div>
<div class="user-Info">
    <ul class="common-list">
        <li>
        <span style="width:20%">hash值</span>
        <span style="width:5%">加信ID</span>
        <span  style="width:12%">用户名</span>
        <span  style="width:10%">手机</span>
        <span  style="width:4%">性别</span>
        <span  style="width:8%">籍贯</span>
        <span  style="width:13%">创建时间</span>
        <span  style="width:13%">更新时间</span>
        <span  style="width:15%">操作</span>
        </li>
        <li>
            <span style="width:20%">9145f9c146957f05e5b04ed2ea762b2e</span>
            <span style="width:5%">25905</span>
            <span  style="width:12%">基础用户 沈舫涛小号</span>
            <span  style="width:10%">15205167080</span>
            <span  style="width:4%">女	</span>
            <span  style="width:8%">籍贯</span>
            <span  style="width:13%">2015-08-21 22:43:38</span>
            <span  style="width:13%">2015-08-21 22:43:38</span>
            <span  style="width:15%">好友管理 | 编辑 | 删除</span>
        </li>
    </ul>
</div>