<div class="user-title">
    <h1>用户信息</h1>
</div>
<div class="user-Info">
    <ul class="common-list">
        <li>
        <span style="width:20%">用户hash</span>
        <span style="width:5%">加信ID</span>
        <span  style="width:12%">用户名</span>
        <span  style="width:10%">手机</span>
        <span  style="width:4%">性别</span>
        <span  style="width:8%">籍贯</span>
        <span  style="width:13%">创建时间</span>
        <span  style="width:13%">更新时间</span>
        <span  style="width:15%">操作</span>
        </li>
        <li ng-repeat="user in usersData">
            <span style="width:20%">{{user.hash}}</span>
            <span style="width:5%">{{user.jiaxinValue}}</span>
            <span  style="width:12%">{{user.name}}</span>
            <span  style="width:10%">{{user.mobile}}</span>
            <span  style="width:4%">{{user.gender}}</span>
            <span  style="width:8%">{{user.hometown</span>
            <span  style="width:13%">{{user.createTime}}</span>
            <span  style="width:13%">{{user.refreshTime}}</span>
            <span  style="width:15%">好友管理 | 编辑 | 删除</span>
        </li>
    </ul>
</div>